<!DOCTYPE html>
<html lang="en">
    <body class="site-body">
    <!-- base for relative files -->
    <base href="/">
    <head>
        <!-- meta info -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Engineering Student Council | University of Virginia</title>
        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link href="css/extra.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        </head><!--/head-->
        <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <!-- <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a> -->
                        <a class="navbar-brand" href="index.html"><b>Engineering Student Council</b></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <!-- About Us -->
                            <li class="dropdown">
                                <a href="about.html">About Us <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="how-to-join.html">How to Join</a></li>
                                    <li><a href="executive-board.html">Executive Board</a></li>
                                    <li><a href="CIO.html">Engineering CIOs</a></li>
                                    <li><a href="#">Representatives</a></li>
                                </ul>
                            </li>
                            <!-- Committees -->
                            <li class="dropdown">
                                <a href="#">Committees <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="committees/academic-and-professional.html">Academic Development</a></li>
                                    <li><a href="committees/communications.html">Communications</a></li>
                                    <li><a href="committees/fundraising.html">Fundraising</a></li>
                                    <li><a href="committees/marketing-and-advertising.html">Marketing and Advertising</a></li>
                                    <li><a href="committees/service-outreach.html">Service and Outreach</a></li>
                                    <li><a href="committees/community-development.html">Community Development</a></li>
                                    <li><a href="committees/study-abroad.html">Study Abroad Learning</a></li>
                                    <li><a href="committees/web-and-tech.html">Web and Technology</a></li>
                                    <li><a href="committees/visitation-and-recruitment.html">Visitation and Recruitment</a></li>
                                    <li><a href="committees/health-and-wellness.html">Health and Wellness</a></li>
                                </ul>
                            </li>
                            <!-- Events -->
                            <li class="dropdown">
                                <a href="#">Events <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="events/engineers-week.html">Engineer's Week</a></li>
                                    <li><a href="events/engineering-expo.html">Engineering Expo</a></li>
                                    <li><a href="events/trick-or-treat.html">Trick-or-Treat On The Lawn</a></li>
                                    <li><a href="events/fall-carnival.html">Fall Carnival</a></li>
                                    <li><a href="events/pi-miler.html">Pi Miler</a></li>
                                </ul>
                            </li>
                            <!-- Initiatives -->
                            <li class="dropdown">
                                <a href="#">Initiatives <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="initiatives/seas-180-year-anniversary.html">SEAS 180-Year Anniversary</a>
                                    </li>
                                    <li>
                                        <a href="initiatives/stacks-re-design.html">Stacks Re-Design</a>
                                    </li>
                                    <li>
                                        <a href="initiatives/science-olympiad-state-tournament.html">Science Olympiad</a>
                                    </li>
                                    <li>
                                        <a href="initiatives/student-taught-classes.html">Student-Taught Classes</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Ongoing Programs -->
                            <li class="dropdown">
                                <a href="#">Ongoing Programs <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="programs/travel-and-activities-fund.html">Travel and Activities Fund</a>
                                    </li>
                                    <li>
                                        <a href="programs/take-your-professor-out-to-lunch.html">Take A Professor To Lunch</a>
                                    </li>
                                    <li>
                                        <a href="programs/tours.html">SEAS Tours</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Store -->
                            <li>
                                <a href="store.html">Store</a>
                            </li>
                            <!-- Contact -->
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <!-- Newsletter -->
                            <li>
                                <a href="newsletter.html"><b>Newsletter</b></a>
                            </li>
                            <!-- Social Media Outlets -->
                            <li>
                                <div class="social">
                                    <ul class="social-share">
                                        <li><a href="https://www.facebook.com/uvaesc"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://www.instagram.com/uvaesc"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->
        </header><!--/header-->
<div class="content-container site-content"><!--content-container-->